.slick-slide {
  height: 24rem;
  border: 2px dashed rgb(55, 55, 55);
  border-radius: 2%;
}
.slick-track {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
  display: flex !important;
  align-items: center !important;
}
.slick-center {
  background-color: white;
  background-image: url("../assets/skill2.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px dashed tomato;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}
