body >#root{
  padding: 0;
  margin: 0;
  width: 100vw;
  max-width: 100vw !important;
  min-height: 100vh !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  background-color: white;
}