@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "GOOGLE";
  src: url("./assets/googleFont.TTF");
  
}
@font-face {
  font-family: "Sanskrit";
  src: url("./assets/Sanskrit.ttf");
}
